<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Changelog.com</title>
    <link href="/stylesheets/application.css" rel="stylesheet">
  </head>
  <body>
    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
      <tbody>
        <tr>
          <td width="100%">

            <%= yield %>

            <p class="unsubscribe"><unsubscribe>Click here to unsubscribe</unsubscribe> ~ or reply and let us know how we can improve this email.</p>

          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
