<multiline label='Email body content'>

<p>Hey [firstname,fallback=friend],</p>

<p>This is an example of a simple styled email. This email is designed to look just like a normal email and is best sent from an individual vs an org.</p>

<p>Use language that's more personal and playful. Have fun with the email. Don't be overly serious unless the email calls for it. That doesn't mean "don't be professional" though.</p>

<p>Use basic formatting such as bold, itallic, links, images, lists, etc. just as you would when writting a normal personal email to someone.</p>

<p>Thanks!</p>

<p>Adam Stacoviak, EIC</p>

</multiline>
